.header{
    form > *{
        height: 4rem;
        border-radius: 2rem;
        box-shadow: none;
    }
    &__input{
        width: 30rem;
    }
    &__btn{
        width: 10rem;
        background-color: hsl(223, 87%, 63%);
    }
}