h1{
    font-size: 4rem;
    font-weight: 200;
    color: hsl(0, 0%, 59%);
}

h2{
    font-size: 2rem;
    font-weight: 300;
    color: black;
}

p{
    font-size: 1.5rem;
}

span{
    font-weight: 700;
    color: black;
}