*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

@import 'scss/form';
@import 'scss/typography';
@import 'scss/layout';