*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @media (max-width: 500px) {
        font-size: 50%;
    }
}

body{
    font-family: 'Libre Franklin', sans-serif;
}

@import 'scss/form';
@import 'scss/typography';
@import 'scss/layout';